.header {
    display: flex;
    align-items: center;
    min-height: 92px;
    padding: 0 40px;
    border-bottom: 1px solid #f0f0f0;

    &__logo {
        margin-right: 52px;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__nav-item {
            margin-right: 28px;
    }

    &__nav-item:last-child {
        margin-right: 0;
    }
}
