.header {
    display: flex;
    align-items: center;
    height: 92px;
    padding: 0 40px;
    border-bottom: 1px solid #f0f0f0;

    &__logo {
        margin-right: 52px;
    }
}

.menu {
    display: flex;
    align-items: center;

    &__item {
        margin-right: 28px;
    }

    &__item:last-child {
        margin-right: 0;
    }
}